@media (min-width: 900px) {
  :root {
    --cc-purple: #6736dd;
    --cc-yellow: #f6cb31;
  }

  .button {
    width: 50%;

    transition: .3s;
  }

  header {
    justify-content: space-evenly;
  }

  .button:hover,
  nav a:hover {
    transform: translateY(-.5rem);
  }

  .logo {
    transition: .3s;
  }

  .logo:hover {
    border-radius: .5rem;
    transform: scale(1.1);
  }

  nav {
    display: flex !important;
    flex-direction: row;
    gap: 1.5rem;
  }

  nav a {
    white-space: nowrap;
  }

  nav a:hover {
    color: var(--cc-yellow);

    text-shadow: 1px 1px 1rem rgba(0, 0, 0, .3);
    transition: .3s
  }

  #burger_button {
    display: none;
  }

  .resources-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .resources-wrapper .item {
    text-align: left;
    max-width: 35rem;
  }

  .advanced-resources {
    display: flex;
    justify-content: center;
  }

  footer section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
}