@media (min-width: 700px) {

  :root {
    --cc-blue_1: #273366;
  }

  section * {
    border-radius: 2rem;
  }

  #all_resources img {
    margin: 0;
  }

  #all_resources {
    display: grid;

    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  #all_resources div:nth-of-type(even) {
    background: var(--cc-blue_1) !important;
    box-shadow: 1px 1px 1rem rgba(0, 0, 0, .5);
  }
}

@media (min-width: 900px) {
  :root {
    --cc-purple: #6736dd;
    --cc-yellow: #f6cb33;
  }

  .button {
    width: 50%;

    transition: .3s;
  }

  header {
    justify-content: space-evenly;
  }

  .button:hover,
  nav a:hover {
    transform: translateY(-.5rem);
  }

  .logo {
    transition: .3s;
  }

  .logo:hover {
    border-radius: .5rem;
    transform: scale(1.1);
  }

  nav {
    display: flex !important;
    flex-direction: row;
    gap: 1.5rem;
  }

  nav a {
    white-space: nowrap;
  }

  nav a:hover {
    color: var(--cc-yellow);

    text-shadow: 1px 1px 1rem rgba(0, 0, 0, .3);
    transition: .3s
  }

  #burger_button {
    display: none;
  }

  section {
    align-items: center;
  }

  .resources-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .resources-wrapper .item {
    text-align: left;
    max-width: 35rem;
  }

  .advanced-resources {
    display: flex;
    justify-content: center;
  }

  footer section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
}

@media (min-width: 1100px) {
  article section:first-child {
    flex-direction: row;
    justify-content: space-evenly;
    gap: 5rem;

    padding: 5rem
  }
}