@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --cc-yellow: #f6cb31;
  --cc-blue: #192040;
  --cc-blue_1: #273366;
  --cc-purple: #6736dd;
  --cc-purple_1: #833eff;
  --cc-white: #e5e5e5;

  --ff-emphasis: 'Concert One', sans-serif;
  --ff-content: 'Open Sans', sans-serif;
}

html * {
  font-family: var(--ff-content);
  color: var(--cc-white);

}

html a {
  text-decoration: none;
}

body {
  font-size: 1.6rem;

  text-align: center;

  background: var(--cc-blue)
}

.hide {
  display: none;
}

i {
  font-size: 4rem;
  color: var(--cc-yellow);
}

.button {
  justify-content: center;

  padding: 1rem;
  margin: 3rem auto;

  border: 2px solid var(--cc-yellow);
  border-radius: .4rem;

  color: var(--cc-yellow);
}

h1,
h2,
h3,
h4 {
  margin: 1rem 0;
}

/* HEADER */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 3rem;

}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;

  -webkit-animation: slide-in-top 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-in-top 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

nav a {
  font-size: 2rem;
}

nav a,
h1,
strong,
h2,
h3,
span {
  font-family: var(--ff-emphasis);
}

header .logo {
  border-radius: 50%;

  -webkit-animation: slide-in-top 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-in-top 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* MAIN */
/* section */


section:not(footer section) {
  min-height: 75vh;

  display: flex;
  justify-content: center;
  flex-direction: column;
}

article section:nth-child(even) {
  background: var(--cc-blue_1);
  box-shadow: 1px 1px 1rem rgba(0, 0, 0, .5);
}

h1 {
  margin: 3rem 0;
}

h1,
h1 strong {
  font-size: clamp(5rem, 1rem, 7rem);
}

strong {
  color: var(--cc-purple);
}

.cta-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 3rem 0;
}

article section:first-child img {
  max-width: 40vw;
}

section img {
  max-width: 50vw;
  max-height: 75vh;

  margin: 1rem auto;

  border-radius: 2rem;

  box-shadow: 1px 1px 1rem rgba(0, 0, 0, .5);
}

/* resources */

#resources *:not(#all_resources, img) {
  padding: 1rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
  font-weight: 400;
  padding-top: 2rem;
}

h4 {
  font-size: 2.4rem;
}

span,
.resources a {
  display: flex;
  align-items: center;

  gap: 1rem;

  font-size: 2rem;
  color: var(--cc-yellow);
}

#all_resources .item {
  background: var(--cc-purple_1);
}

#all_resources .item:nth-child(odd) {
  background: var(--cc-purple);
}

/* ARTICLE SECTION:last-child */
article section:last-child {
  padding: 1rem;
}

section.cta {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../assets/images/plane.jpg');
  background-position: center center;
  background-attachment: fixed;
}

/* FOOTER */

.link-wrapper a {
  display: flex;
  flex-direction: column;

  text-decoration: underline;
}

footer p *,
pre i {
  font-size: 1.8rem;
}

/* ANIMAÇÕES */

@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}